
{% block main %}
{% endblock %}


  <!--/ footer Start /-->
  <section class="section-footer">
      <div class="container">
          <div class="row">
              <div class="col-sm-12 col-md-4">
                  <div class="widget-a">
                      <div class="w-header-a">
                          <h3 class="w-title-a text-brand">IGDTUW</h3>
                      </div>
                      <div class="w-body-a">
                          <p class="w-text-a color-text-a">
                              Indira Gandhi Delhi Technical University for Women (IGDTUW) is a non-affiliating teaching and research University at Delhi to facilitate and promote studies, research, technology, innovation, incubation and extension work in emerging areas of professional education among women.
                          </p>
                      </div>
                      <div class="w-footer-a">
                          <ul class="list-unstyled">
                              <li class="color-a">
                                  <span class="color-text-a">Phone: </span> 011- 23900261, 23900264</li>
                              <li class="color-a">
                                  <span class="color-text-a">Email: </span> igdtuw@gmail.com</li>
                          </ul>
                      </div>
                  </div>
              </div>
              <div class="col-sm-12 col-md-4 section-md-t3">
                  <div class="widget-a">
                      <div class="w-header-a">
                          <h3 class="w-title-a text-brand">Did you know?</h3>
                      </div>
                      <div class="w-body-a">
                          <p class="w-text-a color-text-a">
                              Erstwhile Indira Gandhi Institute of Technology (IGIT) was established in 1998 by Directorate of Training and Technical Education, Govt of N.C.T of Delhi as the first engineering college for women only. 
                      </div>
                  </div>
              </div>
              <div class="col-sm-12 col-md-4 section-md-t3">
                  <div class="widget-a">
                      <div class="w-header-a">
                          <h3 class="w-title-a text-brand">Feedback</h3>
                      </div>
                      <div class="w-body-a">
                          <p class="w-text-a color-text-a">
                              Give us your valuable feedback. You can call/email us on the given contact.
                              You can also write a review on our social media sites.
                              This will help us render better services.
                          </p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <footer>
      <div class="container">
          <div class="row">
              <div class="col-md-12">
                  <div class="socials-a">
                      <ul class="list-inline">
                          <li class="list-inline-item">
                              <a href="https://www.facebook.com/RailMinIndia">
                                  <i class="fa fa-facebook" aria-hidden="true"></i>
                              </a>
                          </li>
                          <li class="list-inline-item">
                              <a href="https://www.twitter.com/RailMinIndia">
                                  <i class="fa fa-twitter" aria-hidden="true"></i>
                              </a>
                          </li>
                          <li class="list-inline-item">
                              <a href="https://www.instagram.com/irctcofficial">
                                  <i class="fa fa-instagram" aria-hidden="true"></i>
                              </a>
                          </li>
                      </ul>
                  </div>
                  <div class="copyright-footer">
                      <p class="copyright color-text-a">
                          &copy; Copyright. All Rights Reserved.
                      </p>
                  </div>
              </div>
          </div>
      </div>
  </footer>
  <!--/ Footer End /-->
