{% extends 'footer.html' %}
{% block main %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <script>
      var messages = {{ messages | safe }};
      for (var i=0; i<messages.length; i++) {
        alert(messages[i]);
      }
    </script>
  {% endif %}
{% endwith %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Academic Portal</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="{{url_for('static', filename='favicon.png')}}" rel="icon">
  <link href="{{url_for('static', filename='apple-touch-icon.png')}}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="{{url_for('static',filename='lib/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="{{url_for('static',filename='lib/font-awesome/css/font-awesome.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='lib/animate/animate.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='lib/ionicons/css/ionicons.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='lib/owlcarousel/assets/owl.carousel.min.css')}}" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="{{url_for('static',filename='lib/css/style.css')}}" rel="stylesheet">

</head>

<body>

   <!-- Nav Start -->
   <div >
    <nav class="navbar navbar-default navbar-trans navbar-expand-lg fixed-top">
      <div class="container">
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarDefault" aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span></span>
          <span></span>
          <span></span>
        </button>
        <img class="navbar-brand" src="{{url_for('static', filename='LOGO1.png')}}" height=13% width=13%>
        <a class="navbar-brand text-brand" href="{{url_for('home')}}">IGDTUW<span class="color-b">SOMETHING</span></a>
        <button type="button" class="btn btn-link nav-search navbar-toggle-box-collapse d-md-none" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-expanded="false">
          <span class="fa fa-search" aria-hidden="true"></span>
        </button>
        <div class="navbar-collapse collapse justify-content-center" id="navbarDefault" >
          <ul class="navbar-nav" id="topheader">
            <li class="nav-item">
              <a class="nav-link active" href="{{url_for('home')}}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="{{url_for('student_dashboard')}}">Student</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Teacher
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{{url_for('login_teacher')}}">Login</a>
                <a class="dropdown-item" href="{{url_for('view_content')}}">View your content</a>
                <a class="dropdown-item" href="{{url_for('view_submission')}}">View submissions</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="{{url_for('contact')}}">Contact Us</a>
            </li>
          </ul>
        </div>

      </div>
    </nav>
  </div>
  <!-- Nav End -->
  <!--/ Carousel Star /-->
  <div class="intro intro-carousel" style="margin-top:8%;">
    <div id="carousel" class="owl-carousel owl-theme">
      <div class="carousel-item-a intro-item bg-image" style="background-image: url({{url_for('static', filename='front.jpg')}})">
        <div class="overlay overlay-a"></div>
        <div class="intro-content display-table">
          <div class="table-cell">
            <div class="container">

              <div class="row">
                <div class="col-lg-8">
                  <div class="intro-body">
                    <h1 class="intro-title mb-4">
                      <span class="color-b"> Education </span>
                      <br>Empowerment. </h1>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
        <div style="margin-top:5%;">
      <div class="carousel-item-a intro-item bg-image" style="background-image: url({{url_for('static', filename='SIH.jpeg')}})">
        <div class="overlay overlay-a"></div>
        <div class="intro-content display-table">
          <div class="table-cell">
            <div class="container">
              <div class="row">
                <div class="col-lg-8">
                  <div class="intro-body">
                    <h1 class="intro-title mb-4">
                      <span class="color-b"> Thrive for </span>
                      <br>Excellence.</h1>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
      <div style="margin-top:5%;">
      <div class="carousel-item-a intro-item bg-image" style="background-image: url({{url_for('static', filename='fest.jpg')}})">
        <div class="overlay overlay-a"></div>
        <div class="intro-content display-table">
          <div class="table-cell">
            <div class="container">
              <div class="row">
                <div class="col-lg-8">
                  <div class="intro-body">
                    <h1 class="intro-title mb-4">
                      <span class="color-b"> Unlimited </span>
                      <br> Opportunities.</h1>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  <!--/ Carousel end /-->

  <!--/  Ministry /-->
  <section class="section-agents section-t8">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="title-wrap d-flex justify-content-between">
            <div class="title-box">
              <h2 class="title-a">Computer Science and Engineering Department</h2>

            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="card-box-d">
            <div class="card-img-d">
              <img src="{{url_for('static', filename='SEEJA.png')}}" alt="" class="img-d img-fluid">
            </div>
            <div class="card-overlay card-overlay-hover">
              <div class="card-header-d">
                <div class="card-title-d align-self-center">
                  <h3 class="title-d">
                    Prof Ela <br> Kumar
                  </h3>
                </div>
              </div>
              <div class="card-body-d">
                <p class="content-d color-text-a">
                  Prof Ela Kumar is the <b>Head of the CSE Department</b> Areas of Specialization:
Artificial Intelligence, Natural Language Processing, Semantic Web , Web Technology
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card-box-d">
            <div class="card-img-d">
              <img src="{{url_for('static', filename='Tayal.jpg')}}" alt="" class="img-d img-fluid">
            </div>
            <div class="card-overlay card-overlay-hover">
              <div class="card-header-d">
                <div class="card-title-d align-self-center">
                  <h3 class="title-d">
                    Prof D K <br> Tayal
                  </h3>
                </div>
              </div>
              <div class="card-body-d">
                <p class="content-d color-text-a">
                  Prof D.K Tayal is the <b>Professor & Dean  (Academic Affairs), </b> Chairman (Academic Quality Assurance Committee), IGDTUW Chairman (Faculty Grievance Redressal Committee), IGDTUW. Areas of Specialization:
                  Artificial Intelligence, Database Management Systems, Fuzzy Logic, Data Mining, Graph Theory, Sentiment Analysis, Opinion Mining
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card-box-d">
            <div class="card-img-d">
              <img src="{{url_for('static', filename='Reddy.jpg')}}" alt="" class="img-d img-fluid">
            </div>
            <div class="card-overlay card-overlay-hover">
              <div class="card-header-d">
                <div class="card-title-d align-self-center">
                  <h3 class="title-d">
                    Dr S.R.N <br> Reddy
                  </h3>
                </div>
              </div>
              <div class="card-body-d">
                <p class="content-d color-text-a">
                Dr S.R.N Reddy is the <b>Professor and Dean(Examination)</b> Areas of Specialization:
Embedded Systems, Compiler Design, Mobile  Computing.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/ Ministry end End /-->

  <!--/ News Start /-->
  <section class="section-news section-t8">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="title-wrap d-flex justify-content-between">
            <div class="title-box">
              <h2 class="title-a">Academics</h2>
            </div>
          </div>
        </div>
      </div>
      <div id="new-carousel" class="owl-carousel owl-theme">
        <div class="carousel-item-c">
          <div class="card-box-b card-shadow news-box">
            <div class="img-box-b">
              <img src="{{url_for('static', filename='calendar.gif')}}" alt="" class="img-b img-fluid">
            </div>
            <div class="card-overlay">
              <div class="card-header-b">
                <div class="card-category-b">
                  <a href="" class="category-b">Academic Calender</a>
                </div>
                <div class="card-title-b">
                  <h2 class="title-2">
                    <a href=""> Events, Exam,
                      <br> Holidays </a>
                  </h2>
                </div>
                <div class=" card-date">
                      <span class="date-b">2019-2020</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item-c">
          <div class="card-box-b card-shadow news-box">
            <div class="img-box-b">
              <img src="{{url_for('static', filename='scholarship.gif')}}" alt="" class="img-b img-fluid">
            </div>
            <div class="card-overlay">
              <div class="card-header-b">
                <div class="card-category-b">
                  <a href="" class="category-b">Scholarships</a>
                </div>
                <div class="card-title-b">
                  <h2 class="title-2">
                    <a href="">To help you achieve
                      <br>your dreams</a>
                  </h2>
                </div>
                <div class="card-date">
                  <span class="date-b">2019-2020</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item-c">
          <div class="card-box-b card-shadow news-box">
            <div class="img-box-b">
              <img src="{{url_for('static', filename='book.gif')}}" alt="" class="img-b img-fluid">
            </div>
            <div class="card-overlay">
              <div class="card-header-b">
                <div class="card-category-b">
                  <a href="" class="category-b">Lesson Plans</a>
                </div>
                <div class="card-title-b">
                  <h2 class="title-2">
                    <a href="">Plan ahead
                      <br> Stay ahead</a>
                  </h2>
                </div>
                <div class="card-date">
                  <span class="date-b">2019-2020</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/ News End /-->

  <!--/ Tweets Start /-->
  <section class="section-testimonials section-t8 nav-arrow-a">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="title-wrap d-flex justify-content-between">
            <div class="title-box">
              <h2 class="title-a">Latest Events</h2>
            </div>
          </div>
        </div>
      </div>
      <div id="testimonial-carousel" class="owl-carousel owl-arrow">
        <div class="carousel-item-a">
          <div class="testimonials-box">
            <div class="row">
              <div class="col-sm-12 col-md-6">
                <div class="testimonial-img">
                  <img src="{{url_for('static', filename='event.jpg')}}" alt="" class="img-fluid">
                </div>
              </div>
              <div class="col-sm-12 col-md-6">
                <div class="testimonial-ico">
                  <span class="ion-ios-quote"></span>
                </div>
                <div class="testimonials-content">
                  <p class="testimonial-text"> <b> Research Conclave on IOT </b>
                    The Ministry of Human Resource Development is working on a number of initiatives to harness the creativity and to create an eco-system of innovations in schools as also in our institutions of higher learning. The National Innovation Council (NlnC) suggested the establishment of 20 Design Innovation Centers during the XII Five Year Plan as also one Open Design School and one institution for facilitating training of trainers. The NlnC has also suggested that each institution must have a pedagogic charter that promotes independent thinking and creates a new generation of innovators. The key guiding principles, mainly to be embedded in the pedagogic charter would be to promote flexibility, autonomy, creative leadership & development of curriculum in consultation with prospective user industries and other institutions.
                  </p>
                </div>
                <div class="testimonial-author-box">
                  <img src="{{url_for('static', filename='LOGO1.png')}}" alt="" class="testimonial-avatar">
                  <h5 class="testimonial-author"></h5>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item-a">
          <div class="testimonials-box">
            <div class="row">
              <div class="col-sm-12 col-md-6">
                <div class="testimonial-img">
                  <img src="{{url_for('static', filename='h.jpg')}}" alt="" class="img-fluid">
                </div>
              </div>
              <div class="col-sm-12 col-md-6">
                <div class="testimonial-ico">
                  <span class="ion-ios-quote"></span>
                </div>
                <div class="testimonials-content">
                  <p class="testimonial-text"><b> Taarangana 2020</b>
                  Throughout each academic year students are occupied with either exams or technical events, workshops or seminars. Occasionally what they need is a break from this routine and this is what Taarangana (earlier known as RÖNESANS) is all about. The cultural society with Dr. Shalini Arora as the Faculty Advisor aims at providing the students with a platform to develop and showcase their cultural talents.
                  </p>
                </div>
                <div class="testimonial-author-box">
                  <img src="{{url_for('static', filename='LOGO1.png')}}" alt="" class="testimonial-avatar" height="10%" width="10%">
                  <h5 class="testimonial-author"></h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/ Tweets End /-->



  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <div id="preloader"></div>

  <!-- JavaScript Libraries -->
  <script src="{{url_for('static',filename='lib/jquery/jquery.min.js')}}"></script>
  <script src="{{url_for('static',filename='lib/jquery/jquery-migrate.min.js')}}"></script>
  <script src="{{url_for('static',filename='lib/popper/popper.min.js')}}"></script>
  <script src="{{url_for('static',filename='lib/bootstrap/js/bootstrap.min.js')}}"></script>
  <script src="{{url_for('static',filename='lib/easing/easing.min.js')}}"></script>
  <script src="{{url_for('static',filename='lib/owlcarousel/owl.carousel.min.js')}}"></script>
  <script src="{{url_for('static',filename='lib/scrollreveal/scrollreveal.min.js')}}"></script>

  <!-- Template Main Javascript File -->
  <script src="{{url_for('static',filename='lib/js/main.js')}}"></script>


</body>

</html>
{% endblock %}
