<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Academic Portal</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="{{url_for('static', filename='favicon.png')}}" rel="icon">
  <link href="{{url_for('static', filename='apple-touch-icon.png')}}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="{{url_for('static',filename='lib/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="{{url_for('static',filename='lib/font-awesome/css/font-awesome.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='lib/animate/animate.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='lib/ionicons/css/ionicons.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='lib/owlcarousel/assets/owl.carousel.min.css')}}" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="{{url_for('static',filename='style.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename='album.css')}}" rel="stylesheet">

</head>

<body>

   <!-- Nav Start -->
   <div >
    <nav class="navbar navbar-default navbar-trans navbar-expand-lg fixed-top">
      <div class="container">
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarDefault" aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span></span>
          <span></span>
          <span></span>
        </button>
        <img class="navbar-brand" src="{{url_for('static', filename='logo.png')}}" height=5% width=5%>
        <a class="navbar-brand text-brand" href="index.php">Indian<span class="color-b">Railways</span></a>
        <button type="button" class="btn btn-link nav-search navbar-toggle-box-collapse d-md-none" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-expanded="false">
          <span class="fa fa-search" aria-hidden="true"></span>
        </button>
        <div class="navbar-collapse collapse justify-content-center" id="navbarDefault" >
          <ul class="navbar-nav" id="topheader">
            <li class="nav-item">
              <a class="nav-link " href="{{url_for('home')}}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="{{url_for('student_dashboard')}}">Student</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Teacher
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{{url_for('login_teacher')}}">Login</a>
                <a class="dropdown-item" href="{{url_for('upload_content')}}">Upload content</a>
                <a class="dropdown-item" href="{{url_for('view_content')}}">View your content</a>
                <a class="dropdown-item" href="{{url_for('view_submission')}}">View submissions</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="{{url_for('contact')}}">Contact Us</a>
            </li>
          </ul>
        </div>

      </div>
    </nav>
  </div>
  <!-- Nav End -->


  <main role="main">

  <section class="jumbotron text-center " style="margin-top:8%">
  <div class="container">
    <h1>Album example</h1>
    <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>

  </div>
  </section>

  <div class="album py-5 bg-light">
  <div class="container">

    <div class="row">
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img src="{{url_for('static',filename='piyush.jpg')}}" height="230">
          <div class="card-body">
            <p class="card-text"><h5>Dr. Piyush XYZ</h5><br>This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View content</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img src="{{url_for('static',filename='suresh.jpg')}}" height="230">
          <div class="card-body">
            <p class="card-text"><h5>Dr. Suresh XYZ</h5><br>This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View content</button>
                </div></div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img src="{{url_for('static',filename='vk.jpg')}}" height="230">
          <div class="card-body">
            <p class="card-text"><h5>Dr. AGVDH XYZ</h5><br>This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View content</button>
                </div></div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img src="{{url_for('static',filename='piyush.jpg')}}" height="230">
          <div class="card-body">
            <p class="card-text"><h5>Dr. Piyush XYZ</h5><br>This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View content</button>
                </div></div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img src="{{url_for('static',filename='piyush.jpg')}}" height="230">
          <div class="card-body">
            <p class="card-text"><h5>Dr. Piyush XYZ</h5><br>This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View content</button>
                </div></div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img src="{{url_for('static',filename='piyush.jpg')}}" height="230">
          <div class="card-body">
            <p class="card-text"><h5>Dr. Piyush XYZ</h5><br>This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View content</button>
                </div></div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img src="{{url_for('static',filename='piyush.jpg')}}" height="230">
          <div class="card-body">
            <p class="card-text"><h5>Dr. Piyush XYZ</h5><br>This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View content</button>
                </div></div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img src="{{url_for('static',filename='piyush.jpg')}}" height="230">
          <div class="card-body">
            <p class="card-text"><h5>Dr. Piyush XYZ</h5><br>This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View content</button>
                </div></div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img src="{{url_for('static',filename='piyush.jpg')}}" height="230">
          <div class="card-body">
            <p class="card-text"><h5>Dr. Piyush XYZ</h5><br>This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View content</button>
                </div></div>
          </div>
        </div>
      </div>
  </div>
  </div>
  </main>

  <!--/ footer Start /-->
  <section class="section-footer">
      <div class="container">
          <div class="row">
              <div class="col-sm-12 col-md-4">
                  <div class="widget-a">
                      <div class="w-header-a">
                          <h3 class="w-title-a text-brand">Indian Railways</h3>
                      </div>
                      <div class="w-body-a">
                          <p class="w-text-a color-text-a">
                              Indian Railways is India's national railway system operated by the
                              Ministry of Railways. It manages the fourth largest railway network in the world
                              by size, with a route length of 67,368-kilometre
                              and total track length of 121,407-kilometre as of March 2017.
                          </p>
                      </div>
                      <div class="w-footer-a">
                          <ul class="list-unstyled">
                              <li class="color-a">
                                  <span class="color-text-a">Phone: </span> +54 356 95674</li>
                              <li class="color-a">
                                  <span class="color-text-a">Email: </span> jahnvi@railway-reservation.tk</li>
                          </ul>
                      </div>
                  </div>
              </div>
              <div class="col-sm-12 col-md-4 section-md-t3">
                  <div class="widget-a">
                      <div class="w-header-a">
                          <h3 class="w-title-a text-brand">Did you know?</h3>
                      </div>
                      <div class="w-body-a">
                          <p class="w-text-a color-text-a">
                              Indian Railways is the world's eighth-largest employer by number of employees (1.4 million).
                              The ones above it include United States Dept. of Defence,
                              People's liberation army to name a few.
                          </p>
                      </div>
                  </div>
              </div>
              <div class="col-sm-12 col-md-4 section-md-t3">
                  <div class="widget-a">
                      <div class="w-header-a">
                          <h3 class="w-title-a text-brand">Feedback</h3>
                      </div>
                      <div class="w-body-a">
                          <p class="w-text-a color-text-a">
                              Give us your valuable feedback. You can call/email us on the given contact.
                              You can also write a review on our social media sites.
                              This will help us render better services.
                          </p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <footer>
      <div class="container">
          <div class="row">
              <div class="col-md-12">
                  <div class="socials-a">
                      <ul class="list-inline">
                          <li class="list-inline-item">
                              <a href="https://www.facebook.com/RailMinIndia">
                                  <i class="fa fa-facebook" aria-hidden="true"></i>
                              </a>
                          </li>
                          <li class="list-inline-item">
                              <a href="https://www.twitter.com/RailMinIndia">
                                  <i class="fa fa-twitter" aria-hidden="true"></i>
                              </a>
                          </li>
                          <li class="list-inline-item">
                              <a href="https://www.instagram.com/irctcofficial">
                                  <i class="fa fa-instagram" aria-hidden="true"></i>
                              </a>
                          </li>
                      </ul>
                  </div>
                  <div class="copyright-footer">
                      <p class="copyright color-text-a">
                          &copy; Copyright. All Rights Reserved.
                      </p>
                  </div>
              </div>
          </div>
      </div>
  </footer>
  <!--/ Footer End /-->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <div id="preloader"></div>

  <!-- JavaScript Libraries -->
  <script src="{{url_for('static',filename='lib/jquery/jquery.min.js')}}"></script>
  <script src="{{url_for('static',filename='lib/jquery/jquery-migrate.min.js')}}"></script>
  <script src="{{url_for('static',filename='lib/popper/popper.min.js')}}"></script>
  <script src="{{url_for('static',filename='lib/bootstrap/js/bootstrap.min.js')}}"></script>
  <script src="{{url_for('static',filename='lib/easing/easing.min.js')}}"></script>
  <script src="{{url_for('static',filename='lib/owlcarousel/owl.carousel.min.js')}}"></script>
  <script src="{{url_for('static',filename='lib/scrollreveal/scrollreveal.min.js')}}"></script>

  <!-- Template Main Javascript File -->
  <script src="{{url_for('static',filename='main.js')}}"></script>


</body>

</html>
