{% extends 'footer.html' %}
{% block main %}
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <script>
      var messages = {{ messages | safe }};
      for (var i=0; i<messages.length; i++) {
        alert(messages[i]);
      }
    </script>
  {% endif %}
{% endwith %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Academic Portal</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="{{url_for('static', filename='favicon.png')}}" rel="icon">
  <link href="{{url_for('static', filename='apple-touch-icon.png')}}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="{{url_for('static',filename='lib/bootstrap/css/BOotstrap.min.css')}}" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="{{url_for('static',filename='lib/font-awesome/css/font-awesome.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='lib/animate/animate.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='lib/ionicons/css/ionicons.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='lib/owlcarousel/assets/owl.carousel.min.css')}}" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="{{url_for('static',filename='lib/css/style.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename='lib/css/album.css')}}" rel="stylesheet">
  <style>
  table, th, td{
    border-spacing: 0px;
    border-collapse: separate;
    border: 1px solid black;
  }

  #schedule {
    padding: 60px 0 60px 0;
  }

  #schedule .nav-tabs {
    text-align: center;
    margin: auto;
    display: block;
    border-bottom: 0;
    margin-bottom: 30px;
  }

  #schedule .nav-tabs li {
    display: inline-block;
    margin-bottom: 0;
  }

  #schedule .nav-tabs a {
    border: none;
    border-radius: 50px;
    font-weight: 600;
    background-color: #A9A9A9;
    color: #fff;
    padding: 10px 60px;
  }

  @media (max-width: 991px) {
    #schedule .nav-tabs a {
      padding: 8px 60px;
    }
  }

  @media (max-width: 767px) {
    #schedule .nav-tabs a {
      padding: 8px 50px;
    }
  }

  @media (max-width: 480px) {
    #schedule .nav-tabs a {
      padding: 8px 30px;
    }
  }

  #schedule .nav-tabs a.active {
    background-color: #2eca6a;
    color: #fff;
  }

  </style>
</head>

<body>

   <!-- Nav Start -->
   <div >
    <nav class="navbar navbar-default navbar-trans navbar-expand-lg fixed-top">
      <div class="container">
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarDefault" aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span></span>
          <span></span>
          <span></span>
        </button>
        <img class="navbar-brand" src="{{url_for('static', filename='LOGO1.png')}}" height=13% width=13%>
        <a class="navbar-brand text-brand" href="{{url_for('home')}}">IGDTUW<span class="color-b">SOMETHING</span></a>
        <button type="button" class="btn btn-link nav-search navbar-toggle-box-collapse d-md-none" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-expanded="false">
          <span class="fa fa-search" aria-hidden="true"></span>
        </button>
        <div class="navbar-collapse collapse justify-content-center" id="navbarDefault" >
          <ul class="navbar-nav" id="topheader">
            <li class="nav-item">
              <a class="nav-link " href="{{url_for('home')}}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="{{url_for('student_dashboard')}}">Student</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="{{url_for('teacher_dashboard')}}">Teacher</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="{{url_for('contact')}}">Contact Us</a>
            </li>
          </ul>
        </div>

      </div>
    </nav>
  </div>
  <!-- Nav End -->
  <main role="main">

  <section class="jumbotron text-center " style="margin-top:8%">
  <div class="container" style="max-width:60rem">
    <h1>Professor {{name}}</h1>
    <p class="lead text-muted">Designation:  {{dsg}} <br>
      Specialization:  {{spc}}
    </p>

<!-- ======= Buttons Section ======= -->
<section id="schedule" class="section-with-bg">
  <div class="container wow fadeInUp">
    <div class="section-header">
      <br>
      <h3>Study Guide</h3>
      <div style="	width: 580px;
       height: 4px;
       margin-bottom: 30px;
       background-color: #2eca6a;"></div>

    </div>

    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" href="#day-1" role="tab" data-toggle="tab" > Notes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#day-2" role="tab" data-toggle="tab" > Essays </a>
      </li>
    </ul>

    <div class="tab-content row justify-content-center">

      <!-- Schdule Day 1 -->
      <div role="tabpanel" class="col-lg-9 tab-pane fade show active" id="day-1">
      <div class="row schedule-item">

            <br><br>
            <table class="table table-striped" align="center">
                <tr>
                  <th width=10%>Topic</th>
                  <th width=8%>Notes</th>
                  <th width=8%>Summary</th>
                  <th width=8%>Question Bank</th>
                </tr>
                <tr>
                  <td width=10%> Agents in AI</td>
                  <td width=8%>"upload pdf" </td>
                  <td width=8%>"upload summary"</td>
                  <td width=8%>"upload questions"</td>

                </tr>
                <tr>
                  <td width=10%>B</td>
                  <td width=8%>B</td>
                  <td width=8%>B</td>
                  <td width=8%>B</td>

                </tr>
                <tr>
                  <td width=10%>C</td>
                  <td width=8%>C</td>
                  <td width=8%>C</td>
                  <td width=8%>C</td>

                </tr>
                <tr>
                  <td width=10%>D</td>
                  <td width=8%>D</td>
                  <td width=8%>D</td>
                  <td width=8%>D</td>
                </tr>
                <tr>
                  <td width=10%>E</td>
                  <td width=8%>E</td>
                  <td width=8%>E</td>
                  <td width=8%>E</td>

                </tr>
                <tr>
                  <td width=10%>F</td>
                  <td width=8%>F</td>
                  <td width=8%>F</td>
                  <td width=8%>F</td>
                </tr>

              </table>
              </div>
              </div>

      <!-- End Schdule Day 1 -->

      <!-- Schdule Day 2 -->
      <div role="tabpanel" class="col-lg-9  tab-pane fade" id="day-2">
      <div class="row schedule-item">
                    <br>
                    <table align="center" class="table table-striped">
                        <tr>

                          <th width=20%>Essay Topic</th>
                          <th width=12%>Submission-due-date</th>
                          <th width=9%> Upload Essay Answer</th>
                        </tr>
                        <tr>
                          <td width=20%>"upload assignment"</td>
                          <td width=12%> 15-April-2020</td>
                          <td width=9%><form action="your-url" method="post" enctype="multipart/form-data">
                            <label for="file">File</label>
                            <input type="file" name="file" value="" required></form></td>
                        </tr>
                        <tr>

                          <td width=20%>B</td>
                          <td width=12%>B</td>
                          <td width=9%><form action="your-url" method="post" enctype="multipart/form-data">
                            <label for="file">File</label>
                            <input type="file" name="file" value="" required></form></td>
                        </tr>
                        <tr>

                          <td width=20%>C</td>
                          <td width=12%>C</td>
                          <td width=9%><form action="your-url" method="post" enctype="multipart/form-data">
                            <label for="file">File</label>
                            <input type="file" name="file" value="" required></form></td>
                        </tr>
                        <tr>

                          <td width=20%>D</td>
                          <td width=12%>D</td>
                          <td width=9%><form action="your-url" method="post" enctype="multipart/form-data">
                            <label for="file">File</label>
                            <input type="file" name="file" value="" required></form></td>
                        </tr>
                        <tr>

                          <td width=20%>E</td>
                          <td width=12%>E</td>
                          <td width=9%><form action="your-url" method="post" enctype="multipart/form-data">
                            <label for="file">File</label>
                            <input type="file" name="file" value="" required></form></td>
                        </tr>
                        <tr>

                          <td width=20%>F</td>
                          <td width=12%>F</td>
                          <td width=9%><form action="your-url" method="post" enctype="multipart/form-data">
                            <label for="file">File</label>
                            <input type="file" name="file" value="" required></form></td>
                        </tr>

                      </table>

    </div>
    </div>
  </div>

</section><!-- End Schedule Section -->



</main>


<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
<div id="preloader"></div>

<!-- JavaScript Libraries -->
<script src="{{url_for('static',filename='lib/jquery/jquery.min.js')}}"></script>
<script src="{{url_for('static',filename='lib/jquery/jquery-migrate.min.js')}}"></script>
<script src="{{url_for('static',filename='lib/popper/popper.min.js')}}"></script>
<script src="{{url_for('static',filename='lib/bootstrap/js/bootstrap.min.js')}}"></script>
<script src="{{url_for('static',filename='lib/easing/easing.min.js')}}"></script>
<script src="{{url_for('static',filename='lib/owlcarousel/owl.carousel.min.js')}}"></script>
<script src="{{url_for('static',filename='lib/scrollreveal/scrollreveal.min.js')}}"></script>

<!-- Template Main Javascript File -->
<script src="{{url_for('static',filename='lib/js/main.js')}}"></script>


</body>

</html>
{% endblock %}
