{% extends 'footer.html' %}
{% block main %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Academic Portal</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">


  <!-- <link rel="stylesheet" href="{{url_for('static', filename='lib/css/bootstrap-theme.min.css')}}"> -->
  <!-- <link rel="stylesheet" href="{{url_for('static', filename='lib/css/heroslider.css')}}"> -->
  <!-- <link rel="stylesheet" href="{{url_for('static', filename='lib/css/datepicker.css')}}"> -->
  <link rel="stylesheet" href="{{url_for('static', filename='lib/css/templatemo-style.css')}}">
  <!-- <script src="{{url_for('static', filename='lib/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js')}}"></script> -->

  <!-- Favicons -->
  <link href="{{url_for('static', filename='favicon.png')}}" rel="icon">
  <link href="{{url_for('static', filename='apple-touch-icon.png')}}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="{{url_for('static',filename='lib/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="{{url_for('static',filename='lib/font-awesome/css/font-awesome.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='lib/animate/animate.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='lib/ionicons/css/ionicons.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='lib/owlcarousel/assets/owl.carousel.min.css')}}" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="{{url_for('static',filename='lib/css/style.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename='lib/css/album.css')}}" rel="stylesheet">

  <style>

  table, th, td{
    border-spacing: 0px;
    border-collapse: separate;
    border: 1px solid black;
  }
  custab{
      border: 1px solid #ccc;
      padding: 5px;
      margin: 5% 0;
      box-shadow: 3px 3px 2px #ccc;
      transition: 0.5s;
      }
  custab:hover{
      box-shadow: 3px 3px 0px transparent;
      transition: 0.5s;
      }


  </style>
</head>

<body>

   <!-- Nav Start -->
   <div >
    <nav class="navbar navbar-default navbar-trans navbar-expand-lg fixed-top">
      <div class="container">
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarDefault" aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span></span>
          <span></span>
          <span></span>
        </button>
        <img class="navbar-brand" src="{{url_for('static', filename='LOGO1.png')}}" height=13% width=13%>
        <a class="navbar-brand text-brand" href="{{url_for('home')}}">IGDTUW<span class="color-b">SOMETHING</span></a>
        <button type="button" class="btn btn-link nav-search navbar-toggle-box-collapse d-md-none" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-expanded="false">
          <span class="fa fa-search" aria-hidden="true"></span>
        </button>
        <div class="navbar-collapse collapse justify-content-center" id="navbarDefault" >
          <ul class="navbar-nav" id="topheader">
            <li class="nav-item">
              <a class="nav-link " href="{{url_for('home')}}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('student_dashboard')}}">Student</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Teacher
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{{url_for('login_teacher')}}">Login</a>
                <a class="dropdown-item" href="{{url_for('view_content')}}">View your content</a>
                <a class="dropdown-item" href="{{url_for('view_submission')}}">View submissions</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="{{url_for('contact')}}">Contact Us</a>
            </li>
          </ul>
        </div>

      </div>
    </nav>
  </div>

  <section class="banner" id="top" style="margin-top:3%">
      <div class="container-fluid">
          <div class="row">
              <div class="col-md-8">
                  <div class="left-banner-content" style=	"background-image: url({{url_for('static', filename='th (1).jpg')}});">
                      <div class="text-content">
                          <div class="line-dec"></div>
                      <img src="{{url_for('static', filename='notes.png')}}" width=20% height=20% align="center" alt=""></img>
                          <div style="margin-top: -115px"><h1><b> PREVIOUS UPLOADS</b></h1></div>
                          <div class="white-border-button">
                            <div class="container">
                              <div class="row col-md-6 col-md-offset-2 custyle">
                              <table class="table table-striped custab">
                              <thead>
                                  <tr>
                                      <th>Topic Name</th>
                                      <th>Uploaded on</th>
                                      <th>Notes PDF</th>
                                      <th>Summary PDF </th>

                                  </tr>
                              </thead>
                                      <tr>
                                          <td>a</td>
                                          <td>a</td>
                                          <td>a</td>
                                          <td>a</td>


                                      <tr>
                                          <td>b</td>
                                          <td>b</td>
                                          <td>b</td>
                                          <td>b</td>


                                      </tr>
                                      <tr>
                                         <td>c</td>
                                         <td>c</td>
                                         <td>c</td>
                                         <td>c</td>


                                     <tr>
                                        <td>c</td>
                                        <td >c</td>
                                        <td>c</td>
                                        <td >c</td>



                                    </tr>

                             </table>
                             </div>
                          </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="right-banner-content" style=	"background-image: url({{url_for('static', filename='y2.jpg')}});">
                      <div class="logo"><a href=""><img src="{{url_for('static', filename='icon.png')}}" height=150px alt=""></a></div>
                      <h2>Upload Content</h2>
                      <form action="" method="post">
                        <br>
                        <b><h6><label for="text">Topic Name</label></h6></b>
                        <input type="text" name="topic" value="" required>
                      </form>

                      <form action="your-url" method="post" enctype="multipart/form-data">
                        <br><br>
                        <b><h6><label for="file">Upload Notes</label></h6></b>
                        <input type="file" name="file" value="" required><br>
                      </form>


                  </div>
              </div>
          </div>
      </div>
  </section>
<!--essay section-->
  <section class="best-offer" id=best-offer-section>
      <div class="container-fluid">
          <div class="row">
              <div class="col-md-4">
                  <div class="best-offer-left-content" style=	"background-image: url({{url_for('static', filename='y2.jpg')}});">
                      <div style="text-align: center;
                    	margin: 0 auto;
                    	width: 140px;
                    	height: 140px;
                    	line-height: 140px;
                    	background-color: transparent;"><div style="margin-top: -126px"><img src="{{url_for('static', filename='icon3.png')}}" width=100% height=100% alt=""></div></div>
                      <div style="margin-top: -5px"><h2 style="color=white">ESSAYS</h2></div>
                      <form action="" method="post">
                        <b><h6><label for="text" >Essay Topic</label></h6></b>
                        <input type="text" name="topic" value="" required>
                      </form>


                    <form action="/action_page.php">
                      <br>
                     <b><h6><label for="birthday">Essay Due-Date</label></h6></b>
                     <input type="date" id="date" name="date">
                     <input type="submit" value="Submit">
                    </form>


                  </div>
              </div>
              <div class="col-md-8">
                  <div class="best-offer-right-content" style=	"background-image: url({{url_for('static', filename='th (1).jpg')}});">>
                      <div class="row">
                          <div class="col-md-6 col-sm-12">
                            <div class="col-md-6 col-sm-12">
                            <div style="margin-top: -95px">
                                <img src="{{url_for('static', filename='icon2.png')}}" height=30% width=30% alt="">
                            </div>
                              <h2>VIEW STUDENTS SUBMISSIONS</h2>
                              <div class="container">
                                <div class="row col-md-6 col-md-offset-2 custyle">
                                <table class="table table-striped custab" align="center">

                                <thead>
                                    <tr>
                                        <th>Roll Number</th>
                                        <th>Essay Topic</th>
                                        <th>Submitted on</th>
                                        <th>Plagiarism%</th>
                                        <th>Grade </th>
                                        <th class="text-center">Action</th>
                                    </tr>
                                </thead>
                                        <tr>
                                            <td>a</td>
                                            <td>a</td>
                                            <td>a</td>
                                            <td>a</td>
                                            <td>a</td>
                                            <td class="text-center"><a class='btn btn-info btn-xs' href="#"><span class="glyphicon glyphicon-edit"></span> Accept grade</a> <a href="#" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> Edit Grade</a></td>
                                        </tr>
                                        <tr>
                                            <td>b</td>
                                            <td>b</td>
                                            <td>b</td>
                                            <td>b</td>
                                            <td>b</td>
                                            <td class="text-center"><a class='btn btn-info btn-xs' href="#"><span class="glyphicon glyphicon-edit"></span> Accept Grade</a> <a href="#" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> Edit Grade</a></td>
                                        </tr>
                                        <tr>
                                           <td>c</td>
                                           <td>c</td>
                                           <td>c</td>
                                           <td>c</td>
                                           <td>c</td>
                                           <td class="text-center"><a class='btn btn-info btn-xs' href="#"><span class="glyphicon glyphicon-edit"></span> Accept Grade</a> <a href="#" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> Edit Grade</a></td>
                                       </tr>
                                       <tr>
                                          <td>c</td>
                                          <td>c</td>
                                          <td>c</td>
                                          <td>c</td>
                                          <td>c</td>
                                          <td class="text-center"><a class='btn btn-info btn-xs' href="#"><span class="glyphicon glyphicon-edit"></span> Accept Grade</a> <a href="#" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> Edit Grade</a></td>
                                      </tr>
                                      <tr>
                                         <td>c</td>
                                         <td>c</td>
                                         <td>c</td>
                                         <td>c</td>
                                         <td>c</td>
                                         <td class="text-center"><a class='btn btn-info btn-xs' href="#"><span class="glyphicon glyphicon-edit"></span> Accept Grade</a> <a href="#" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> Edit Grade</a></td>
                                     </tr>

                               </table>
                               </div>
                              </div>
                              </div>
                          </div>

                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>



  <!-- Nav End -->



  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <div id="preloader"></div>

  <!-- JavaScript Libraries -->
  <script src="{{url_for('static',filename='lib/jquery/jquery.min.js')}}"></script>
  <script src="{{url_for('static',filename='lib/jquery/jquery-migrate.min.js')}}"></script>
  <script src="{{url_for('static',filename='lib/popper/popper.min.js')}}"></script>
  <script src="{{url_for('static',filename='lib/bootstrap/js/bootstrap.min.js')}}"></script>
  <script src="{{url_for('static',filename='lib/easing/easing.min.js')}}"></script>
  <script src="{{url_for('static',filename='lib/owlcarousel/owl.carousel.min.js')}}"></script>
  <script src="{{url_for('static',filename='lib/scrollreveal/scrollreveal.min.js')}}"></script>

  <!-- Template Main Javascript File -->
  <script src="{{url_for('static',filename='lib/js/main.js')}}"></script>


  </body>

  </html>
{% endblock %}
